[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.8"
pymysql = "*"
django-redis = "*"
cryptography = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
